/* Full Page */

:root
{
    --blue: #6172C6;
    --light-blue: #85a3ee;

    --yellow: #F4BD58;
    --light-yellow: #FFF591;

    --purple: #964BBC;
    --light-purple: #cb69de;

    --red: #EA4D4D;
    --light-red: #FF9B8C;
}

html
{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.webBackground
{
    background-size: 100%;
    background-attachment: fixed;
    background-image: url('images/wallpaper.png');
    background-attachment: fixed;
}

/* Header */

header
{
    background-color: var(--blue);
    width: 100%;
    padding: 1vw;
    border-bottom: 8px solid var(--yellow);
}

h1
{
    color: var(--light-yellow);
}

.logo
{
    width: 100%;
}

.headerItem
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerItem > a
{
    background-color: var(--yellow);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.headerItem > a:hover
{
    background-color: var(--light-yellow);
    color: var(--yellow);
}